html {}

body {
    font: bold 16px/10px monospace;
    white-space: nowrap;
}

#page-wrap {
    padding: 5px;
}

.title {
    margin: 25px 0 15px;
    color: gray;
}

    .title:first-child {
        margin-top: 0;
    }

a {
    text-decoration: none;
    color: #FF9706;
    display: block;
    margin: 10px 0 20px;
}
